[Desktop Entry]
Version=1.0
Type=Application
Name=Transmission Web
GenericName=Bit Torrent Client
Comment=opens in midori
Categories=GTK;Network;
Exec=midori http://localhost:9091/transmission/web/
Icon=transmission
Terminal=false
StartupNotify=true
